/* $Id$ */

html, body, * {
	margin: 0px;
	padding: 0px;
	font-family: verdana, tahoma, sans-serif;
	font-size: 12px;
}

body {
	background: #ccc;
}

#masthead {
	background: #600;
	border-bottom: 1px solid #000;
	padding: 0px 5px;
}

#masthead h1 {
	font-size: 25px;
	padding: 5px 0 0 5px;
	color: #fff;
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
	text-align: left;
	float: left;
}

#masthead h1.error {
	float: none !important;
}

#masthead div {
	text-align: right;
	padding: 5px;
}

#masthead div p {
	color: #fff;
}

#error {
	margin: 10px;
	border: 1px solid #600;
	background: #fcc;
	color: #600;
	font-weight: bold;
	padding: 20px;
}

#container {
	padding: 10px;
}
#modules {
	width: 300px;
	float: left;
}

#modules div {
	background: #eaeaea;
	padding: 3px;
	border: 1px solid #000;
	border-top: 0px;
	margin-bottom: 10px;
	min-height: 36px;
	height: 36px;
}

label {
	position: relative;
	display: block;
	width: 260px;
}

label input {
	position: absolute;
	right: 0px;
	top: 1px;
}

label.refresher {
	display: inline;
}

#modules h2 {
	padding: 1px;
	border: 1px solid #000;
	background: #600;
	color: #fff;
}

#current {
	background: #eaeaea;
	border: 1px solid #000;
	padding: 5px;
	margin: 0 0 10px 310px;
	min-height: 120px;
	height: 120px;
}

#commands {
	float: right;
	padding-left: 5px;
	margin-left: 5px;
}

#commands ul {
	list-style-type: none;
}

#commands ul li {
	margin-bottom: 5px;
}

#commands ul li a {
	display: block;
	background: #ccc;
	padding: 6px;
	color: #600;
	text-decoration: none;
}

#queue {
	list-style-type: none;
}

.queuebox {
	padding: 3px;
	background: #eaeaea;
	border: 1px solid #000;
	margin-bottom: 10px;
}

.queuebox:hover {
	background: #ffeaea;
}

.first:hover {
	background: #eaeaea;
}

.orderform {
	float: left;
	width: 55px;
}

.orderform input {
	width: 48px;
	height: 19px;
	padding-top: 6px;
	text-align: center;
}

#controls {
	border: 1px solid #000;
	background: #eaeaea;
	margin-bottom: 10px;
	padding: 3px;
	height: 20px;
}

.queuetitle {
	font-weight: bold;
}

ul.queuecontrols {
	float: right;
	list-style-type: none;
	text-align: right;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	margin-right: 5px;
	padding-bottom: 2px;
	background: #ccc;
}

ul.queuecontrols li.control {
	display: inline;
}

ul.queuecontrols li a, .handle {
	padding: 0 3px 2px 3px;
	border-right: 1px solid #000;
	text-decoration: none;
	color: #000;
}


ul.queuecontrols li a:hover, #commands ul li a:hover  {
	background: #999;
	color: #fff;
}

ul.queuecontrols li a img {
	border: 0;
}

select {
	width: 200px;
}

#showlog, #hidelog {
	display: none;
}

#log {
	display: block;
}

#sortdirection {
	display: none;
}

#refresher {
	display: inline;
	float: right;
	margin-top: 2px;
}

.handle {
	display: inline;
	cursor: move;
}

#rarpass {
	width: 400px;
	height: 200px;
	border: 5px solid #600;
	background: #ccc;
	padding: 3px;
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
	z-index: 2;
}
