/* $Id$ */
html, body, * {
	font-family: Verdana, Tahoma, Sans-Serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

body {
	background: #ccc;
}

h1 {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	background: #600;
	color: #fff;
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

#content {
	padding: 0 10px;
}

p, form {
	padding: 3px;
	border: 1px solid #000;
	margin-bottom: 10px;
	text-align: center;
	background: #eaeaea;
}
label {
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

#response {
	margin: 0 10px;
	padding: 3px 20px;
	text-align: center;
	font-weight: bold;
}
